.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  padding: 50px;
}

.center {
  /* border: 1px dashed teal; */
  margin: 0 auto;
  max-width: 500px;
  display: table;
}

.column hr {
  width: 50%;
  border: 0;
  height: 0;
  border-bottom: 1px solid grey;
}

#time-column {
  width: 50px;
}

.column {
  /* border: 1px dashed violet; */
  box-sizing: border-box;
  display: table-cell;
  position: relative;
}

.scheduled-item {
   position: absolute;
   left: 0;
   width: 100%;
   border: 1px solid olivedrab;
   background-color: rgba(107, 142, 35, .3);
   /* overflow: hidden; */
   box-sizing: border-box;
   border-collapse: collapse;
}

.time-marker {
  border-top: 1px solid grey;
  padding: 0;
  text-align: left;
}

#time-column .time-marker:last-child {
  border-bottom: 1px solid grey;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 500px) {
  .center {
    width: 100%;
  }
}
